body {
  background-image: url(BG.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-attachment: scroll;
  background-color: grey;
  margin: auto;
  width: 90%;
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

nav {
  display: flex;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 26;
}

p {
  font-size: 18;
}

img {
  max-width: 80%;
  height: auto;
}